<div class="container">
<br>
<h3 class="display-4"> Reset Password </h3>
<br>
<br>


<%= form_with url:"/password/reset_password", local: true,method: :post do |form| %>
  
  <p>
      <%= form.label "New Password" %><br>
      <%= form.text_field :password, :class => "form-fields" %>
  </p>
  <p>
      <%= form.label "Confirm Password" %><br>
      <%= form.text_field :confirm_password, :class => "form-fields" %>
  </p>
  <%= form.submit "Reset", :id => "form-btn" %>  
  <br>
  <br>
  <p> Don't have an account? <a href="#"> SignUp </a> </p>
<% end %>


</div>