<!DOCTYPE html>
<html>
  <head>
    <title>MyPostgresqlApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">New App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home/dashboard">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
      <% if session[:user] %>
      <a class="nav-link" href="password/reset_password">Reset Password</a>
      <% else %>
      <a class="nav-link" href="password/forget_password">Forget Password</a>
      <% end %>
      

        
    </li>

    <li class="nav-item">
    <% if session[:user] %>
    <a class="nav-link" href="profile/edit_profile">Edit Profile</a>
     
    <% end %>
  </li>
     

      <li class="nav-item">
        <% if session[:user] %>
        <a class="nav-link" href="account/logout">Logout</a>
        <% else %>
        <a class="nav-link" href="account/login">Login</a>
        <% end %>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


    <%= yield %>
  </body>
</html>



