<!DOCTYPE html>
<html>
  <head>
    <title>MyPostgresqlApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image:url(https://image.shutterstock.com/image-vector/vector-white-ball-abstract-background-260nw-1728421882.jpg);background-repeat: no-repeat, repeat;background-size: cover;">
 


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">New App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%= link_to('Home', { action: 'dashboard', controller: 'home'},    class: 'nav-link') %> 

      </li>
      
      <li class="nav-item">
      <% if session[:user] %>
      <%= link_to('Reset Password', { action: 'reset_password', controller: 'password'},    class: 'nav-link') %> 

      
      <% else %>
      <%= link_to('Forget Password', { action: 'forget_password', controller: 'password'},    class: 'nav-link') %> 

      <% end %>
      

        
    </li>

    <li class="nav-item">
    <% if session[:user] %>
    <%= link_to('Edit Profile', { action: 'edit_profile', controller: 'profile'},    class: 'nav-link') %> 

     
    <% end %>
  </li>
     

      <li class="nav-item">
        <% if session[:user] %>
         <%= link_to('Logout', { action: 'logout', controller: 'account'},    class: 'nav-link') %> 
        <% else %>
         <%= link_to('Login', { action: 'login', controller: 'account'},    class: 'nav-link') %> 
        <% end %>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


    <%= yield %>
  </body>
</html>




 